version: "2"
services:
  core:
    build: .
    ports:
      - 3000:3000
    environment:
      - NEXT_PUBLIC_IS_CLIENT_SECRET="helpdesk-secret"
      - NEXTAUTH_URL="https://helpdesk.delta-skola.dev"
  database:
    image: mariadb:10.5.9
    restart: always
    ports:
      - 3306:3306
    volumes:
      - ~/Docker/helpdeskdb:/var/lib/mysql
    environment:
      - MYSQL_DATABASE=helpdesk
      - MYSQL_USER=helpdesk
      - MYSQL_PASSWORD=Heslo123
      - MYSQL_ROOT_PASSWORD=Heslo1234
      - TZ=Europe/Prague
