.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000a0;
}

.title {
  margin-bottom: 50px !important;
  font-weight: 400 !important;
  text-transform: uppercase;
}

.main {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bkgImage {
  background-image: url("/img/landing-orig.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
